{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark-custom shadow-sm py-3">
    <div class="container-fluid">
        <a class="navbar-brand text-danger-custom fw-bold ms-3 me-auto" href="{% url 'home' %}">
            <span class="d-none d-sm-inline">MAGI CENTRAL</span>
            <span class="d-inline d-sm-none">MAGI</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item me-3">
                    <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" aria-current="page" href="{% url 'home' %}">Início</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link {% if 'casper' in request.path %}active{% endif %}" href="{% url 'casper:casper_home' %}">Casper</a> {# <--- MUDANÇA AQUI: Adicione 'casper:' #}
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link {% if 'melchior' in request.path %}active{% endif %}" href="{% url 'melchior:melchior_search' %}">Melchior</a> {# <--- MUDANÇA AQUI: Adicione 'melchior:' #}
                </li>
                {# Adicione mais itens de navegação se necessário #}
            </ul>
        </div>
    </div>
</nav>